/*apparence des blocs */
.gris {
    -moz-box-shadow: 1px 3px 10px 0px #656565;
    -webkit-box-shadow: 1px 3px 10px 0px #656565;
    -o-box-shadow: 1px 3px 10px 0px #656565;
    box-shadow: 1px 3px 10px 0px #656565;
    filter: progid : DXImageTransform.Microsoft.Shadow(color=#656565, Direction=161, Strength=10);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.03);
}
.vert {
    -moz-box-shadow: 1px 3px 10px 0px #40a629;
    -webkit-box-shadow: 1px 3px 10px 0px #40a629;
    -o-box-shadow: 1px 3px 10px 0px #40a629;
    box-shadow: 1px 3px 10px 0px #40a629;
    filter: progid : DXImageTransform.Microsoft.Shadow(color=#40a629, Direction=161, Strength=10);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(65,166,42,0.03);
}

.jaune {
    -moz-box-shadow: 1px 3px 10px 0px #fbbf00;
    -webkit-box-shadow: 1px 3px 10px 0px #fbbf00;
    -o-box-shadow: 1px 3px 10px 0px #fbbf00;
    box-shadow: 1px 3px 10px 0px #fbbf00;
    filter: progid : DXImageTransform.Microsoft.Shadow(color=#fbbf00, Direction=161, Strength=10);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(251,190,42,0.03);
}

.bloc{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}
