{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
    <h1>Bienvenue {{ user_manager.collectorName }}!</h1>
    <div id="collector_nav" class="row">
        <div class="col-md-4 col-xs-12">
            <button type="button" class="btn btn-block"><a href="#collecte">Collecte de biodéchets</a></button>
        </div>
        <div class="col-md-4 col-xs-12">
            <button type="button" class="btn btn-block"><a href="#composte">Récolte de composte</a></button>
        </div>
        <div class="col-md-4 col-xs-12">
            <button type="button" class="btn btn-block"><a href="#recap">Vos réussites</a></button>
        </div>
    </div>
    <div id="collecte" class="row bloc jaune">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Nouveau formulaire</h3></div>
                <div class="panel-body">
                  <button type="button" class="btn btn-block">Créer un nouveau formulaire</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3 class='panel-title'>Formulaires à compléter</h3></div>
                <div class="panel-body btn-group-vertical btn-block" role="group" aria-label="...">
                {%for lieu in lieux%}
                    <button type="button" class="btn btn-default">
                        {{ lieu.address_name }}
                        <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
                    </button>
                {%endfor%}
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <img>
                    <h3 class='panel-title'>Clients à collecter</h3>
                </div>
                <div class="panel-body">
                    <h3>A récolter aujourd'hui</h3>
                    <ul>
                        <li>Société</li>
                        <li>Adresse</li>
                        <li>CP</li>
                        <li>Ville</li>
                        <li>Tel</li>
                        <li>Contact</li>
                        <li>Jours de collecte</li>
                    </ul>
                    <hr>
                    <h3>A récolter demain</h3>
                    <ul>
                        <li>Société</li>
                        <li>Adresse</li>
                        <li>CP</li>
                        <li>Ville</li>
                        <li>Tel</li>
                        <li>Contact</li>
                        <li>Jours de collecte</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3 class='panel-title'>Vos DAC de la semaine dernière</h3></div>
                <div class="panel-body btn-group-vertical btn-block" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">
                        Nom Client
                        <span class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span>
                    </button>
                    
                    <button type="button" class="btn btn-default">
                        Nom Client
                        <span class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span>
                    </button>
                    
                    <button type="button" class="btn btn-default">
                        Nom Client
                        <span class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="composte" class="bloc vert row">
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Rentrez le composte collecté</h3></div>
                <div class="panel-body">
                    <form method="post">
                        <fieldset>
                          <label class="col-md-4 control-label" for="composte_collecte"></label>  
                          <input id="composte_collecte" name="composte_collecte" type="number" placeholder="" class="form-control input-md" required="">
                          <span class="help-block">en kilos</span>  
                          <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-success">Valider et envoyer</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="recap" class="bloc gris row">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Biodéchets collectés aujourd'hui</h3></div>
                <div class="panel-body">
                    <strong>3000 kilos</strong><br>
                    <i>Super!</i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Biodéchets collectés cette semaine</h3></div>
                <div class="panel-body">
                    <strong>3000 kilos</strong><br>
                    <i>Bravo!</i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Composte collecté cette semaine</h3></div>
                <div class="panel-body">
                    <strong>3000 kilos</strong><br>
                    <i>:)</i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Composte collecté depuis le début de votre mission</h3></div>
                <div class="panel-body">
                    <strong>3000 kilos</strong><br>
                    <i>Génial</i>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
