{% extends "layout.html.twig" %}

{% block content %}
    <div id="homepage">
        <div class="imgHead">
            <img class="imgBackground" src="{{asset('images/compost.png')}}">
        </div>
        <div class="bloc1">
            <div class="blocGauche1 col-lg-6 col-md-6 col-xs-12">
                <h3>SUSPENDISSE DICTUM PORTA</h3>
                <div id="wrapper" class="clearfix">
                    <canvas id="demo" width="300" height="300"></canvas>
                    <div id="name">
                        <h4>Biodéchets</h4>
                    </div>
                    <ul>
                        <li><p class="chrome">Biodéchet1 44 %</p></li>
                        <li><p class="ff">Biodéchet2 33 %</p></li>
                        <li><p class="ie">Biodéchet3 16 %</p></li>
                        <li><p class="safari">Biodéchet4 4 %</p></li>
                        <li><p class="opera">Biodéchet5 3 %</p></li>
                    </ul>
                </div>
            </div>
            <div class="blocDroite1 col-lg-6 col-md-6 col-xs-12">
                <h3>SUSPENDISSE DICTUM PORTA</h3>
                <div id="piechart" style="width: 900px; height: 500px;"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="bloc2">
            <div class="blocGauche2 col-lg-6 col-md-6 col-xs-12">
                <h3>SUSPENDISSE DICTUM PORTA</h3>
                <span>In Posuere Eleifend Odio. Quisque Semper Augue Mattis Wisi. Maecenas Ligula. Pellentesque Viverra Vulputate Enim. Donec Pulvinar Ullamcorper Metus.</span>
                
            </div>
            <div class="blocDroite2 col-lg-6 col-md-6 col-xs-12">
                <h3>SUSPENDISSE DICTUM PORTA</h3>
                <span>In Posuere Eleifend Odio. Quisque Semper Augue Mattis Wisi. Maecenas Ligula. Pellentesque Viverra Vulputate Enim. Donec Pulvinar Ullamcorper Metus.</span>
            </div>
        </div>
        <div class="clear"></div>
        <div class="bloc3">
            <div class="blocGauche3 col-lg-6 col-md-6 col-xs-12">
                <h3>SUSPENDISSE DICTUM PORTA</h3>
                <span>In Posuere Eleifend Odio. Quisque Semper Augue Mattis Wisi. Maecenas Ligula. Pellentesque Viverra Vulputate Enim. Donec Pulvinar Ullamcorper Metus.</span>
            </div>
            <div class="blocDroite3 col-lg-6 col-md-6 col-xs-12">
                <h3>SUSPENDISSE DICTUM PORTA</h3>
                <span>In Posuere Eleifend Odio. Quisque Semper Augue Mattis Wisi. Maecenas Ligula. Pellentesque Viverra Vulputate Enim. Donec Pulvinar Ullamcorper Metus.</span>
            </div>
        </div>
        <div class="clear"></div>
        <div class="footr">
            <ul class="icons">
                <li><a href="https://www.facebook.com/Lesalchimistesfleurs/">Facebook</a></li>
                <li><a href="https://www.linkedin.com/company/les-alchimistes-sas?trk=ppro_cprof">Linkedin</a></li>
            </ul>
            <span>Les Alchimistes © 2017 Tous droits réservés</span>
        </div>
        <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    </div>
{% endblock %}