{% extends "layout.html.twig"%}
{% block content %}
<form class="form-horizontal" method="post">
    <fieldset>
        <legend style="text-align: center;"><strong>Ajout d'un lieu de collecte</strong></legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="client_idclient">Site apartenant au client </label>
            <div class="col-md-4">
                <select id="client" name="client_idclient" class="form-control">
                    {% for client in clients %}
                             <option value="{{client.idClient}}">{{client.lastname}} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="adress_collection">Adresse de collecte</label>  
            <div class="col-md-4">
                <input id="adresse_collecte" name="adress_collection" type="text" placeholder="5 rue Jussieu" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="firm_type">Type d'établissement</label>
            <div class="col-md-4">
                <select id="lieu_traitement" name="firm_type" class="form-control">
                    <option value="epicerie">Epicerie</option>
                    <option value="restaurant">Restaurant</option>
                    <option value="restaurantCollectif">Restaurant Collectif</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="city">Ville</label>  
            <div class="col-md-4">
                <input id="ville" name="city" type="text" placeholder="Paris" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="postal_code">Code postal</label>  
            <div class="col-md-4">
                <input id="code_postal" name="postal_code" type="text" placeholder="75005" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="country">Pays</label>  
            <div class="col-md-4">
                <input id="pays" name="country" type="text" placeholder="France" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="location_processing_idlocation_processing">Lieu de traitement</label>
            <div class="col-md-4">
                <select id="lieu_traitement" name="location_processing_idlocation_processing" class="form-control">
                    {% for location in locations %}
                             <option value="{{location.id_location_processing}}">{{location.processing_location}} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="collection_day">Jours de collecte</label>
            <div class="col-md-4">
                <select id="jours_collecte" name="collection_day" class="form-control" multiple="multiple">
                    <option value="lundi">Lundi</option>
                    <option value="mardi">Mardi</option>
                    <option value="mercredi">Mercredi</option>
                    <option value="jeudi">Jeudi</option>
                    <option value="vendredi">Vendredi</option>
                    <option value="samedi">Samedi</option>
                    <option value="dimanche">Dimanche</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="further_information">Remarques complémentaires</label>
            <div class="col-md-4">                    
                <textarea class="form-control" id="remarques" name="further_information">Digicode: A1234</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
                <button id="button1id" name="button1id" class="btn btn-success" type="submit">Valider</button>
                <button id="button2id" name="button2id" class="btn btn-danger">Annuler</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
