{% extends "layout.html.twig" %}
{% block content %}
<form class="form-horizontal" method="post">
    <fieldset>
        <legend>Lieu de traitement</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="processing_location">Lieu de traitement</label>  
            <div class="col-md-4">
                <input id="lieu_traitement" name="processing_location" type="text" placeholder="Les Grands voisins" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="processing_address">Adresse traitement</label>  
            <div class="col-md-4">
                <input id="adresse_traitement" name="processing_address" type="text" placeholder="82 avenue Denfert-Rochereau" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="postal_code">Code postal</label>  
            <div class="col-md-4">
                <input id="code_postal" name="postal_code" type="text" placeholder="75014" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="city">Ville</label>  
            <div class="col-md-4">
                <input id="ville" name="city" type="text" placeholder="Paris" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="country">Pays</label>  
            <div class="col-md-4">
                <input id="pays" name="country" type="text" placeholder="France" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
                <button id="button1id" name="button1id" class="btn btn-success" type="submit">Valider</button>
                <button id="button2id" name="button2id" class="btn btn-danger">Annuler</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
