{% extends "layout.html.twig" %}

{% block content %}
    <div class="bloc gris col-lg-10 col-md-8 col-sm-4 col-xs-4s col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
    <form class="form-horizontal " method="post" >
        <fieldset>

            <div class="form-group">
            <label class="col-md-4 control-label" for="nom">Nom</label>  
                <div class="col-md-4">
                    <input id="nom" name="lastname" type="text" placeholder="Nom" class="form-control input-md">
                    <span class="help-block">ex : Zheng</span>  
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="prenom">prenom</label>  
                <div class="col-md-4">
                    <input id="prenom" name="firstname" type="text" placeholder="prénom" class="form-control input-md">
                    <span class="help-block">ex : Simone</span>  
                </div>
            </div>

         <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="adresse">adresse</label>  
                   <div class="col-md-4">
                       <input id="adresse" name="address" type="text" placeholder="adresse" class="form-control input-md">
                       <span class="help-block">ex : 54 rue du compost</span>  
                   </div>
            </div>

         <!-- Text input-->
         <div class="form-group">
           <label class="col-md-4 control-label" for="ville">ville</label>  
           <div class="col-md-4">
           <input id="ville" name="city" type="text" placeholder="ville" class="form-control input-md">
           <span class="help-block">ex : Paris</span>  
           </div>
         </div>

         <!-- Text input-->
         <div class="form-group">
           <label class="col-md-4 control-label" for="codepostal">code postal</label>  
           <div class="col-md-4">
           <input id="codepostal" name="postal_code" type="text" placeholder="code postal" class="form-control input-md">
           <span class="help-block">ex : code postal</span>  
           </div>
         </div>
         
         <!-- Text input-->
         <div class="form-group">
           <label class="col-md-4 control-label" for="email">Email</label>  
           <div class="col-md-4">
           <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md">
           <span class="help-block">ex : 06 15 25 63 83</span>  
           </div>
         </div>
         
         <!-- Text input-->
         <div class="form-group">
           <label class="col-md-4 control-label" for="telephone">Téléphone</label>  
           <div class="col-md-4">
           <input id="telephone" name="phone_number" type="text" placeholder="Téléphone" class="form-control input-md">
           <span class="help-block">ex : 06 15 25 63 83</span>  
           </div>
         </div>

         <!-- Password input-->
         <div class="form-group">
           <label class="col-md-4 control-label" for="mot de passe">mot de passe</label>
           <div class="col-md-4">
             <input id="mot de passe" name="password" type="password" placeholder="mot de passe" class="form-control input-md">
             <span class="help-block">ex : mot de passe</span>
           </div>
         </div>

        
         <!-- Select Basic -->
         <div class="form-group">
           <label class="col-md-4 control-label" for="statut">Statut</label>
           <div class="col-md-4">
             <select id="statut" name="status" class="form-control">
               <option value="salarié">Collecteur</option>
               <option value="admin">collecteur &amp; administrateur</option>
             </select>
           </div>
         </div>

         <!-- Button (Double) -->
         <div class="form-group">
           <label class="col-md-4 control-label" for="valider"></label>
           <div class="col-md-8">
             <button id="valider" name="valider" class="btn btn-success" type="submit">Valider</button>
             <button id="annuler" name="annuler" class="btn btn-danger">Annuler</button>
           </div>
         </div>

        </fieldset>
    </form>
    </div>
{% endblock %}