{% extends "layout.html.twig" %}
{% block content %}

<div class="bloc vert col-lg-8 col-md-8 col-sm-4 col-xs-4 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
<form class="form-horizontal" method="post">
    <fieldset>
        <legend style="text-align: center;"><strong>Ajout d'un client</strong></legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="company">Société</label>  
            <div class="col-md-4">
                <input id="societe" name="company" type="text" placeholder="Webforce3" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="start_date_contract">Date début contrat</label>  
            <div class="col-md-4">
                <input id="date" name="start_date_contract" type="text" placeholder="01/09/2017" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="siret">Numéro SIRET</label>  
            <div class="col-md-4">
                <input id="siret" name="siret" type="text" placeholder="14 chiffres" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="lastname">Nom</label>  
            <div class="col-md-4">
                <input id="nom" name="lastname" type="text" placeholder="Dupont" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="firstname">Prénom</label>  
            <div class="col-md-4">
                <input id="prenom" name="firstname" type="text" placeholder="Jérôme" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>  
            <div class="col-md-4">
                <input id="email" name="email" type="text" placeholder="jerome.dupont@mail.com" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>  
            <div class="col-md-4">
                <input id="password" name="password" type="text" placeholder="password" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="phone_number">Téléphone</label>  
            <div class="col-md-4">
                <input id="tel" name="phone_number" type="text" placeholder="06 11 22 33 44" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="billing_address">Adresse de facturation</label>  
            <div class="col-md-4">
                <input id="adresse_facturation" name="billing_address" type="text" placeholder="1 rue de Paris" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="postal_code">Code Postal</label>  
            <div class="col-md-4">
                <input id="code_postal" name="postal_code" type="text" placeholder="75000" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="city">Ville</label>  
            <div class="col-md-4">
                <input id="ville" name="city" type="text" placeholder="Paris" class="form-control input-md">
    
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="country">Pays</label>  
            <div class="col-md-4">
                <input id="pays" name="country" type="text" placeholder="France" class="form-control input-md">
    
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="is_active">Actif</label>
            <div class="col-md-4">
                <select id="actif" name="is_active" class="form-control">
                    <option value="1">Actif</option>
                    <option value="0">Inactif</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="valider"></label>
            <div class="col-md-8">
                <button id="valider" name="valider" class="btn btn-success" type="submit">Valider</button>
                <button id="annuler" name="annuler" class="btn btn-danger">Annuler</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
{% endblock %}
