.bloc-comptetitle {
    padding: 0.7em 0;
}

div.dacbouton {
    padding: 0 1.5em;
}

.btn-static {
    border: 1px solid lightgrey;
    cursor: default;
}

#liens > div {
    padding: 0.5em;
}

.panel-body {
    padding: 1.0em;
}

.panel-default {
    margin: 1.0em;
}

span.glyphicon-eye-open {
    font-size: 1.5em;
}

#biodechets, #contact {
    position: relative;
    bottom: 0em;
}

.dactitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.8em;    
}

.tabtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.tabsubtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.ici {
    margin: 2em 0;
}