/* 
    Created on : 15 sept. 2017, 10:47:01
    Author     : ghmor
*/
*{    
    margin: 0;
    padding: 0;
    border: 00;
    font-size: 100%;     
    font: inherit;
    vertical-align: baseline;    
    text-decoration: none;
    list-style: none;
}

.clear
{
    clear: both;
}

.hrStyle{
    border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#homepage{
    font-family: 'Montserrat', sans-serif;
}

.imgHead{
    min-height: 100px;
    text-align: center;
}

.imgHead > h1{
    position: relative;
}

.imgBackground{
    width:100%;
}

.blocGauche1{
    float: left;
    background-color: white;
}

.blocDroite1{
    float: left;
    background-color: white;
}

.blocDroite2{
    float: left;
    background-color: white;
}

.blocGauche3{
    float: left;
    background-color: white;
}

.blocDroite3{
    float: left;
    background-color: white;
}

.bloc1{
    color: black;
    text-align: center;
}

.bloc2{
    color: black;
    text-align: center;
}
.bloc3{
    color: black;
    text-align: center;
}

.bloc5{
    color: black;
    text-align: center;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.clearfix:after {
content: "";
display: block;
height: 0;
clear: both;
visibly: hidden;
}
