@media (max-width: 300px) {
    .list{
        display: none;
    }

}

.list{
    position: relative;
    z-index: 10;
    
    
}

#monmenu {
    font-size:  100%;
    border: 1px black;
}
h3{
    color: yellow;
    font-weight: bold;
    
}
 .accesliste{
    color: #F17630;
    font-weight: bold;
    
}
.kg{
    color: #423EB2;
}
#monmenu ul ul {
    padding-right: 0px;
    display:  none;
    padding-left: 0px;
    left: 200px;
    padding-bottom: 0px;
    margin:  0px;
    margin-top: -39px;
    margin-left: -2px;
    padding-top: 0px;
    position: absolute;
    top: -1px;
    background: rgba(65,166,42,0.03);
    
}

#monmenu li {
    padding-right: 0px;
    padding-left: 2px;
    padding-bottom: 2px;
    margin:  0px;
    width: 200px;
    padding: 10px;
    list-style-type: none;
    position: relative;
    background-color: #e0e0e0;
    border: 1px solid #FBFFD9;
}
#monmenu li a{
    color: #313131;
    font-weight: bold;
}
#monmenu ul li span{
    color : #40a529;
    font-weight: bold;
}
#monmenu ul li ul li span{
    color : #40a529;
    font-weight: bold;
}
#monmenu li:hover {
    background: rgba(122,166,118,1);
    

}

#monmenu li.sfhover {
    background-color:  #ffff70;
    
}
#monmenu li  {
    border: 1px solid #FBFFD9;
    
}




#monmenu li:hover ul.niveau2 {
    display:  block
}

#monmenu li li:hover ul.niveau3 {
    display:  block;
}
#monmenu li li li:hover ul.niveau4 {
    display:  block
}

#monmenu li.sfhover ul.niveau2 {
    display:  block
}

#monmenu li li.sfhover ul.niveau3 {
    display:  block
}
#monmenu li li li .sfhover ul.niveau4 {
    display:  block
}

#monmenu li.plus {
    background-position: right 50%;
    border: 1px solid #FBFFD9;
}

.buttonlink{
    margin-left: 1em;
}
.italic{
    font-style: italic;
    font-size: 80%;
}
/*blocs créations*/
h3{
     color : #40a529;
}