/* Reset */
*{    
    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    
    font-family: 'Montserrat', sans-serif;    vertical-align: baseline; /* taille de caract�re par d�faut du navigateur */ 
    text-decoration: none; /* enlève le soulignement des liens */
}

body {
    margin: 0 auto;
}

.navbar{
    position: relative;
    z-index: 10;
}

.imgHead{
    position: relative;
    bottom: 20px;
}

span.glyphicon-log-out {
    font-size: 1.5em;
}

/*
a.nav-link {
    line-height: 5em;
}
*/

/* APPARENCE DES BLOCS */
.vert {
    -moz-box-shadow: 1px 3px 10px 0px #40a629;
    -webkit-box-shadow: 1px 3px 10px 0px #40a629;
    -o-box-shadow: 1px 3px 10px 0px #40a629;
    box-shadow: 1px 3px 10px 0px #40a629;
    filter: progid : DXImageTransform.Microsoft.Shadow(color=#40a629, Direction=161, Strength=10);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(65,166,42,0.03);
    
}

.jaune {
    -moz-box-shadow: 1px 3px 10px 0px #fbbf00;
    -webkit-box-shadow: 1px 3px 10px 0px #fbbf00;
    -o-box-shadow: 1px 3px 10px 0px #fbbf00;
    box-shadow: 1px 3px 10px 0px #fbbf00;
    filter: progid : DXImageTransform.Microsoft.Shadow(color=#fbbf00, Direction=161, Strength=10);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(251,190,42,0.03);
}

.bloc{
    margin-bottom: 3em;
    margin-top: 3em;
}
    
#liens > div {
    padding: 0.5em;
}

.panel-body {
    padding: 0px 15px 15px 15px;
}

span.glyphicon-eye-open {
    font-size: 100%;
}

#biodechets, #contact {
    position: relative;
    bottom: 0em;
}
gestion des pictos
.logo{
    width: 30%;
}
.img{
    float: left;
}
.bloclegende{
     width: 11%;
     text-align: center;
     margin-left: 2%;
 }
 .bloclegende2{
     width: 16%;
     text-align: center;
     margin-left: 2%;
 }
 .bloclegende3{
     width: 16%;
     text-align: center;
     margin-left: 2%;
 }
 .bloclegende4{
     width: 17%;
     text-align: center;
     margin-left: 2%;
 }
 
 .bloclegende a, .bloclegende2 a,  .bloclegende3 a,  .bloclegende4 a {
     color: green;
     font-size: 1.3em;
     font-weight: bold;
 }
.une{
    width:100%;
    margin: 1%;
    margin-bottom: 13%;
}
.deux{
    width:100%;
    margin: 1%;
    margin-bottom: 14%;
}
.trois{
    width:100%;
    margin: 1%;
    margin-bottom: -10%;
}
.quatre{
    width:100%;
    margin: 1%;
    margin-top: 10%;
    margin-bottom: 8%;
}
.clear {
  clear: both;
  }
.lienacces{
/*    margin-right: 30px;*/
      text-decoration: none;
      font-size: 1.2em;
      font-weight: bold;
      color: #4DB744;
      margin-top: -15px;
 }
 .connexion{
     margin-left:7%;
 }
 .alchimistes{
     margin-left: 2%;
 }
 .collecteur{
     margin-left:-2%;
 }
 .client{
     margin-left:1%;
 }
 .navresponsive{
     display: none;
 }
 .affiname{
     font-size: 2em;
     font-weight: bold;
     color: green;
 }
 
 
@media (max-width: 995px) {
    .img {
    float: left;
}

.bloclegende a, .bloclegende2 a,  .bloclegende3 a,  .bloclegende4 a {
    display: none
 }
.navresponsive{
    display: block;
}
/*.bloclegende{
     width: 40%;
     text-align: center;
     margin-left: 2%;
 }
 .bloclegende2{
     width: 40%;
     text-align: center;
     margin-left: 2%;
 }
 .bloclegende3{
     width: 40%;
     text-align: center;
     margin-left: 2%;
 }
 .bloclegende4{
     width: 40%;
     text-align: center;
     margin-left: 2%;
 }*/

}
