/* Reset */
*{    
    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    
    font: inherit;    vertical-align: baseline; /* taille de caract�re par d�faut du navigateur */ 
    text-decoration: none; /* enlève le soulignement des liens */
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.clear{
    clear :both;
}

.ombrage {
    -webkit-box-shadow: 0px 20px 20px 0px rgba(161,156,161,1);
    -moz-box-shadow: 0px 20px 20px 0px rgba(161,156,161,1);
    box-shadow: 0px 20px 20px 0px rgba(161,156,161,1);
}

span.glyphicon-log-out {
    font-size: 1.5em;
}

.logo {
    width: 100%;
}

/*
a.nav-link {
    line-height: 5em;
}
*/

/* APPARENCE DES BLOCS */
.vert {
    -moz-box-shadow: 1px 3px 10px 0px #40a629;
    -webkit-box-shadow: 1px 3px 10px 0px #40a629;
    -o-box-shadow: 1px 3px 10px 0px #40a629;
    box-shadow: 1px 3px 10px 0px #40a629;
    filter: progid : DXImageTransform.Microsoft.Shadow(color=#40a629, Direction=161, Strength=10);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(65,166,42,0.03);
    
}

.jaune {
    -moz-box-shadow: 1px 3px 10px 0px #fbbf00;
    -webkit-box-shadow: 1px 3px 10px 0px #fbbf00;
    -o-box-shadow: 1px 3px 10px 0px #fbbf00;
    box-shadow: 1px 3px 10px 0px #fbbf00;
    filter: progid : DXImageTransform.Microsoft.Shadow(color=#fbbf00, Direction=161, Strength=10);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(251,190,42,0.03);
}

.bloc{
    margin-bottom: 30px;
    margin-top: 30px;
}
    
#liens > div {
    padding: 0.5em;
}

.panel-body {
    padding: 0px 15px 15px 15px;
}

span.glyphicon-eye-open {
    font-size: 1.5em;
}

#biodechets, #contact {
    position: relative;
    bottom: 0em;
}

