{% extends "layout.html.twig" %}
{% block content %}
<form class="form-horizontal" method="post">
    <fieldset>
        <legend style="text-align: center;"><strong>Formulaire sortie du compost</strong></legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="output_datetime">Date de sortie</label>  
            <div class="col-md-4">
                <input id="poids" name="output_datetime" type="text" placeholder="100" class="form-control input-md"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="quantity_exit">Poids (en kg)</label>  
            <div class="col-md-4">
                <input id="poids" name="quantity_exit" type="text" placeholder="100" class="form-control input-md"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="collector_idcollector">Collecteur</label>
            <div class="col-md-4">
                <select id="client" name="collector_idcollector" class="form-control">
                    <option value="1">Collecteur 1</option>
                    <option value="2">Collecteur 2</option>
                    <option value="3">Collecteur 3</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="location_processing_idlocation_processing">Lieu de traitement</label>
            <div class="col-md-4">
                <select id="client" name="location_processing_idlocation_processing" class="form-control">
                    <option value="1">Lieu 1</option>
                    <option value="2">Lieu 2</option>
                    <option value="3">Lieu 3</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="valider"></label>
            <div class="col-md-8">
                <button id="valider" name="valider" class="btn btn-success" type="submit">Valider</button>
                <button id="annuler" name="annuler" class="btn btn-danger">Annuler</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
